html, body {
    /*background-color: #222;*/
    color: rgb(190, 190, 190);
}
::selection {
    color: #222;
    background: gold;
  }

/*scrollbar*/
body::-webkit-scrollbar {
    width: 10px; /* width of the entire scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: linear-gradient(90deg, rgba(89,89,89,1) 0%, rgba(34,34,34,1) 5%, rgba(34,34,34,1) 95%, rgba(89,89,89,1) 100%, rgba(2,0,36,1) 222%); /* color of the tracking area */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #222;    /* color of the scroll thumb */
    border-radius: 10px;       /* roundness of the scroll thumb */
    border: 1px solid #595959;  /* creates padding around scroll thumb */
  }

  /*slider*/
  .bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #222 50%, #313131 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
  }
  
  .bg3 {
    animation-duration:10s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
/*menu*/
.DM .navbar-dark .nav-link,
.DM .navbar-dark a {
    color: gold;
}
.DM .navbar-dark .nav-link:focus,
.DM .navbar-dark .nav-link:hover,
.DM .navbar-dark a:hover {
    color: goldenrod;
}
.DM .navbar-dark .navbar-toggler {
    color: gold;
    border-color: rgba(255,255,255,.1);
}
.DM .navbar-dark .navbar-brand {
    animation: flicker 2s infinite alternate;
    color: gold;
  }
  @keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
        0 0 4px gold,
        0 0 11px gold,
        0 0 19px gold,
        0 0 40px goldenrod,
        0 0 80px goldenrod,
        0 0 90px goldenrod,
        0 0 100px goldenrod,
        0 0 150px goldenrod;
    
    }
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
.DM .navbar-dark .navbar-nav .nav-link.active, 
.DM .navbar-dark .navbar-nav .show>.nav-link,
.DM .navbar-dark .navbar-brand:focus,
.DM .navbar-dark .navbar-brand:hover {
    color: gold;
    text-shadow:
      0 0 7px gold,
      0 0 10px gold,
      0 0 21px gold,
      0 0 42px goldenrod,
      0 0 82px goldenrod,
      0 0 92px goldenrod,
      0 0 102px goldenrod,
      0 0 151px goldenrod;
  }


