html.DM,
.DM body {
    background-color: #1F2933;
}

html * {
    font-family: 'Saira Extra Condensed', sans-serif;    
}
.logoLabel {
    text-transform: uppercase;
    font-weight: 100;
    color: #ffff33;
    padding-left: 15px;;
}
    .DM .logoLabel:hover {
        color: #ffe633;
    }
.DM .border-bottom {
    border-bottom: 1px solid #ffff33 !important;
}
    .DM .border-bottom {
        border-bottom: 1px solid #ffe633 !important;
    }
.DM .border-top {
    border-top: 1px solid #ffff33 !important;
}
    .DM .border-top {
        border-top: 1px solid #ffe633 !important;
    }
.DM .nav-pills .nav-link.active,
.DM .nav-pills .show>.nav-link {
    color: #1F2933;
    background-color: #ffff33;
}
    .DM .nav-pills .nav-link.active:hover,
    .DM .nav-pills .show>.nav-link:hover {
        background-color: #ffe633;
    }
.DM .nav-link {
    color: #ffff33;
}
    .DM .nav-link:focus,
    .DM .nav-link:hover {
        color: #ffe633;
    }
.DM footer img,
.DM header img {
    max-width: 50px;
    max-height: 50px;
}


#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1F2933 url('../img/logo.gif') no-repeat center center;
    background-size: 100px;
    opacity: 0.7;
    z-index: 9999;
    }