.cardFilters div label {
    cursor: pointer;
    padding: 5px 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    position: relative;
    padding-left: 25px;
}

input[type="checkbox"]+label:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}

input[type="checkbox"]:checked+label:before {
    background-color: #337ab7;
    border-color: #337ab7;
}

input[type="checkbox"]:checked+label:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 5px;
    top: 5px;
    left: 5px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.filter-selected {
    border: 2px solid red;
    border-radius: 3px;
    background-color: rgb(255, 111, 111);
}