/* - - - - - - - - - - */
/* - - Custom Font - - */
/* - - - - - - - - - - */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* - - - - - - - - - - */
/* - - Generic Style - */
/* - - - - - - - - - - */

body {
  margin: 0;
  overflow: visible;
  overflow-x: hidden;
  background-color: black !important;
  width: 100%;
  height: 100%;
}
.btn {
  border: 0px;
  font-family: "Raleway", sans-serif;
}
.btn.btn-primary {
  background-color: #2c9f45;
  border: 0px;
}
.btn.btn-primary:hover,
.btn.btn-primary:active {
  background-color: #217533 !important;
}

ul {
  color: white;
}

img {
  max-width: 100%;
}

img.mw-50 {
  max-width: 50%;
}

h1,
h2,
p {
  color: white !important;
}

.green {
  color: #2c9f45;
}
.green-bg {
  background-color: #2c9f45;
  color: black;
}
.yellow {
  color: yellow;
}
.yellow-bg {
  background-color: yellow;
  color: black;
}
.red {
  color: red;
}
.red-bg {
  background-color: red;
  color: black;
}


/* - - - - - - - - - - */
/* - - Scrollbar - - - */
/* - - - - - - - - - - */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111a22;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2c9f45;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c9f45;
  border-radius: 12px;
}

/* - - - - - - - - - - */
/* - - Menu Custom - - */
/* - - - - - - - - - - */

.navbar-toggler,
.navbar-toggler:focus {
  border: 0px !important;
  box-shadow: unset !important;
}

.navbar .navbar-brand {
  color: #2c9f45;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 35px;
  transition: all 0.3s ease-out 0s;
}

.navbar-brand::after {
  content: "dm.";
  display: inline;
}

.navbar-brand:hover::after {
  content: "Davide Mariotti";
  display: inline;
}

@media screen and (max-width: 400px) {
  .navbar-brand:hover::after {
    content: "DM";
  }
}

.navbar .nav-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar .nav-item .nav-link {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar .nav-item .nav-link:hover {
  color: white;
  font-size: 26px;
}

.navbar .nav-item .nav-link::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #2c9f45;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
  margin-top: 5px;
}

.navbar .nav-item .nav-link:hover::after {
  width: 100%;
}

.navbar .nav-item .nav-link img {
  max-width: 25px;
  margin-right: 5px;
  transition: all 0.3s ease-out 0s;
}

.navbar .nav-item .nav-link:hover img {
  max-width: 26px;
}

/* - - - - - - - - - - */
/* - - - Footer - - - */
/* - - - - - - - - - - */

@media screen and (max-width: 767.666px) {
  .footer .row .text-start,
  .footer .row .text-end {
    text-align: center !important;
  }
  .footer p {
    margin-bottom: 0px;
  }
}
/* - - - - - - - - - - */
/* - - Hello Hand - - */
/* - - - - - - - - - - */

#imgHello {
  animation: wave 2.1s infinite;
  max-width: 30px;
  margin-bottom: 0px;
  transform-origin: 30% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* - - - - - - - - - - */
/* - Curson Animation - */
/* - - - - - - - - - - */

.blink {
  border-left: 2px solid #2c9f45;
  animation: blink-animation 0.8s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* - - - - - - - - - - */
/* - - Img Animation - */
/* - - - - - - - - - - */

.oscillate {
  animation: oscillate 2s ease-in-out infinite alternate;
  width: 100%;
  max-width: 350px;
}

@keyframes oscillate {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

/* - - - - - - - - - - */
/* - - - Loader - - - */
/* - - - - - - - - - - */

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url(/assets/icons/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#loader-none {
  opacity: 0;
}

/* - - - - - - - - - - */
/* - Animation mobile - */
/* - - - - - - - - - - */

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon2 span {
  background: white;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* - - - - - - - - - - */
/* - Stars Animation - */
/* - - - - - - - - - - */

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  opacity: 0.7;
  z-index: -1;
}

/* - - - - - - - - - - */
/* - Matrix Animation - */
/* - - - - - - - - - - */

#matrix {
  display: block;
}

/* - - - - - - - - - - */
/* - social-links - */
/* - - - - - - - - - - */
ul.social-links {
  list-style: unset;
  list-style-type: none;
  color: white;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

ul.social-links li {
  list-style: unset;
  list-style-type: none;
}

ul.social-links li .social-icons {
  display: flex;
  background-color: white;
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}

/* - - - - - - - - - - */
/* - Bug-list - */
/* - - - - - - - - - - */

ul.Bug-list {
  list-style: none;
}
ul.Bug-list li {
  display: flex;
  flex-direction: row;
}
ul.Bug-list li::before {
  content: "📌";
  display: inline-block;
  margin-right: 0.2rem;
}

/* - - - - - - - - - - */
/* - skillsGallery - - */
/* - - - - - - - - - - */

.skillsGallery {
  background-color: unset;
  overflow-x:auto;
}
.skillsGallery .card.card-body.skill {
  background-color: unset;
  display: flex;
  align-items: center;
  border: 1px solid #2c9f45;
  border-radius: 5px;
  padding: 20px 30px;
  margin: 0px 10px;
  min-width: 250px;
}
.skillsGallery .card.card-body.skill img{
  max-width: 60px;
}

.skillsGallery::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

/* - - - - - - - - - - */
/* - - toolsGallery- - */
/* - - - - - - - - - - */

.toolsGallery {
  display: flex;  
	flex-wrap: wrap;
}
.toolsGallery .card {
  background-color: unset;
  border: 1px solid #2c9f45;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toolsGallery .card.card-body.tool {
  margin: 20px;
  flex:0 1 calc(25% - 40px);
}
@media screen and (max-width: 992px) {
  .toolsGallery .card.card-body.tool {
    margin: 10px;
    flex:0 1 calc(50% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .toolsGallery .card.card-body.tool {
    margin: 10px;
    flex:0 1 calc(100% - 20px);
  }
}
.toolsGallery .card img {
  padding: 10px 20px;
  border-radius: 50px;
}
.toolsGallery .card h3 {
  color: white;
  padding: 10px 20px;
  display: flex;
  margin-bottom: 0px;
}
.toolsGallery .card p {
  color: white;
  padding: 10px 20px;
  display: flex;
  margin-bottom: 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  width: 100%;
  height: 88px;
  overflow: hidden;
}
.toolsGallery .card button {
  padding: 10px 20px;
  text-transform: uppercase;
}

/* - - - - - - - - - - */
/* - - CaseConverter- - */
/* - - - - - - - - - - */

#inputText {
  width: 100%;
  height: 200px;
  font-size: 20px;
  padding: 25px;
  border-radius: 25px;
}

#characterCount {
  color: white;
  font-size: 20px;
  padding: 15px 0px;
}

#outputText {
  width: 100%;
  height: 200px;
  font-size: 20px;
  padding: 25px;
  border-radius: 25px;
  margin-top: 40px;
}

/* - - - - - - - - - - */
/* - - searchForm- - */
/* - - - - - - - - - - */
#searchForm {
  background-color: white;
  border-radius: 30px;
  width: max-content;
  margin: 0px auto;
  padding: 25px 65px;
  display: flex;
  flex-direction: column;
}

/* - - - - - - - - - - */
/* - - pswGenerator- - */
/* - - - - - - - - - - */
#pswGenerator {
  background-color: white;
  border-radius: 30px;
  width: max-content;
  margin: 0px auto;
  padding: 25px 65px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767.666px) {
  #pswGenerator {
    width: 100%;
    padding: 25px;
  }
}
#pswGenerator .form-check-input {
  cursor: pointer;
}
#pswGenerator .form-check-input:focus {
  border-color: #2c9f45;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 253, 93, 0.25);
}
#pswGenerator .form-check-input:checked {
  background-color: #2c9f45; 
  border-color: #217533;
}

#pswGenerator .pswUpperCase,
#pswGenerator .pswLowerCase,
#pswGenerator .pswNumbers,
#pswGenerator .pswSpecialChar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#pswGenerator #password {
  display: flex;
  padding: 15px;
  border: 0px;
  font-size: 25px;
  text-align: center;
  background-color: #d3d3d36b;
}
#pswGenerator #password.green { background-color: #9eff9e; color: white;}
#pswGenerator #password.yellow { background-color: #fff599; color: black;}
#pswGenerator #password.red { background-color: #ff8a80; color: black;}

/* - - - - - - - - - - */
/* - - scrap-seo - - - */
/* - - - - - - - - - - */
#scrap-seo {
  background-color: white;
  border-radius: 30px;
  width: 50%;
  margin: 0px auto;
  padding: 25px 65px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200.666px) {
  #scrap-seo {
    width: 70%;
  }
}
@media screen and (max-width: 767.666px) {
  #scrap-seo {
    width: 100%;
  }
}
#scrap-seo #apiKeyInput,
#scrap-seo #cxInput {
  font-size: 12px;
}
#scrap-seo textarea {
  padding: 10px;
  border-radius: 25px;
  resize: none;
  height: 45px;
  overflow: hidden;
  width: 100%;
}
#domainInput {
  padding: 10px;
  border-radius: 25px;
  resize: none;
  height: 45px;
  overflow: hidden;
  border: 1px solid #217533;
}
#scrap-seo #pageCount {
  width: fit-content;
  margin: 0px auto;
  padding: 5px 10px;
  border-radius: 15px;
  resize: none;
  cursor: pointer;
}
#scrap-seo #pageCount option {
  cursor: pointer;
}
#scrap-seo #accordionAdvancedScrapOptions .accordion-item {
  border: 0px;
}
#scrap-seo .accordion-button:not(.collapsed) {
  background-color: unset !important;
  box-shadow: unset !important;
}
#results {
  background-color: white;
  border-radius: 25px;
  margin-top: 20px;
  display: flex;
}
#results .page-container {
  padding: 15px;
}
#results .title-row,
#results .page {
  display: flex;
  flex-direction: row;
}
#results .page {  
  border: 1px solid lightgray;
}
#results .title-row {  
  font-weight: 600;
}
#results .name {
  display: flex;
  width: 35%;
}
#results .description {
  display: flex;
  width: 25%;
}
#results .url {
  display: flex;
  width: 40%;
}

#results .name,
#results .description,
#results .url {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 30px;
  overflow: hidden;
  padding: 5px 10px;
  transition: height 2s linear;
  text-align: left;
}
#results .page .name:hover,
#results .page .description:hover {
  -webkit-line-clamp: unset;
  height: auto;
}
@media screen and (max-width: 767.666px) {
  #results .title-row {
    display: none;
  }
  #results .page {
    flex-direction: column;
    border-left: 0px;
    border-right: 0px;
    padding: 10px 5px;
  }
  #results .name,
  #results .description,
  #results .url {
    width: 100%;
  }
  #results .name:before {
    content: "Name: ";
    font-weight: 600;
  }
  #results .description:before {
    content: "Description: ";
    font-weight: 600;
  }
  #results .url:before {
    content: "Url: ";
    font-weight: 600;
  }
  #results .name,
  #results .description {    
  -webkit-line-clamp: unset;
  height: auto;
  }
}

/* - - - - - - - - - - */
/* - - infoModal - - - */
/* - - - - - - - - - - */
.btn.info {
  background-color: #217533;
  color: white;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  padding: 6px 8px;
  margin: 0px;
  line-height: normal;
}
.btn.info:hover {
  background-color: #2c9f45;
}

#infoModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#infoModal .modal-content {
  background-color: #fefefe;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
@media screen and (max-width: 767.666px) {
  #infoModal .modal-content {
    width: 90%;
  }
}
#infoModal .modal-content p {
  color: black !important;
}

#infoModal .close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

#infoModal .close:hover,
#infoModal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#infoModal ol li {
  margin-bottom: 15px;
}

/* - - - - - - - - - - */
/* - -colorConverter- - */
/* - - - - - - - - - - */

#color-converter {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.field {
  margin-bottom: 20px;
  position: relative;
}
.field i {
  position: absolute;
  top: 45px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.color-field {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d3d3d3c7 !important;
}